---
import Layout from '../layouts/Layout.astro';
---

<Layout title="#WeWantDocsForSeyfert">
	<main>
		<h1 class="we-want-docs-for-seyfert">#WeWantDocsForSeyfert</h1>
		<p>Seyfert, by default, barely got any documentation. I mean it does but like it doesn't, the resource it gives is too less information. So we are trying to change that. We are on a protest against the lack of documentation. So <a>@freeaoi</a>, write better docs now! Don't be lazy. Also <a>@marcrock22</a>, <a>@justevil</a> <span>#GoToWork</span>. You are the dev team members.</p>
	</main>
</Layout>

<style>
	main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding: 2rem;
    }

	p {
		text-align: center;
		font-size: 25px;
		max-width: 1000px;
	}

    .we-want-docs-for-seyfert {
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1.5rem;
      color: #333;
    }

	p span {
		font-weight: bold;
		color: #c93737;
	}

	p a {
		font-weight: bold;
		color: #37c9ba;
	}

    .content {
      max-width: 800px;
      text-align: center;
      line-height: 1.6;
      color: #555;
    }

    @media (max-width: 768px) {
      .we-want-docs-for-seyfert {
        font-size: 3.5rem;
      }

      .content {
        font-size: 0.95rem;
      }
    }
</style>
